/* CSS Reset Code */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Shared Style */

body{
    font-family: "Work Sans", sans-serif;
}
.container{
    width:90%;
    max-width:1200px;
    margin:0 auto;
}





/*===========================
     Header Area Design 
=============================*/
