/* CSS Reset Code */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Shared Style */

body{
    font-family: "Work Sans", sans-serif;
}
.container{
    width:90%;
    max-width:1200px;
    margin:0 auto;
}
.btn{
    padding:0.75rem 1.125rem;
    background-color:#FF900E;
    border:0.125rem solid #FF900F;
    border-radius:0.3125rem;
    color:#FFFFFF;
    font-size:1rem;
    font-weight: 500;
    letter-spacing:0.0625rem;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color:transparent;
    color: #FF900E;
}



/*===========================
     Header Area Design 
=============================*/
header{
    background-color:rgba(255,144, 14, 0.1);
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1.25rem 0rem;
}
.nav-links{
    display:flex;
    align-items: center;
    gap:1.875rem;
}
.brand-name{
    font-size:1.6rem;
    cursor: pointer;
}
.nav-item{
    list-style-type: none;
}
.nav-link{
    color:#424242;
    font-size:1rem;
    text-decoration: none;
    transition:0.3s;
    font-weight: 500;
}
.nav-link:hover{
    color:#FF900E;
}


/* Banner Area */
.banner-text{
    max-width:700px;
    margin:3rem auto;
    text-align:center;
}
.banner-title{
    font-size:3rem;
}
.banner-description{
    color:#727272;
    font-size:0.9rem;
    line-height:1.5rem;
    margin-top:0.9375rem;
}
.banner-btn{
    margin:1.5625rem 0rem;
}
.banner-image img{
    width:100%;
}
.banner-area{
    padding-bottom:1.25rem;
}




/*===========================
     About Section Design 
=============================*/

#about{
    margin:5rem 0rem;
}
.about-content{
    display:flex;
    gap:3rem;
    align-items: center;
}
.about-content-img{
    flex:1;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:1rem;
}
.about-content-img img{
    width:100%;
}
.about-content-text{
    flex:1;
}
.about-title{
    font-size:2.5rem;
    margin-bottom:1rem;
}
.about-description{
    color:#727272;
    font-size:1rem;
    line-height:1.5rem;
    margin-bottom:1.5rem;
    text-align:justify;
}




/*=============================
     Features Section Design 
===============================*/

#features{
    margin-bottom:5rem;
}
.features-content{
    display:flex;
    gap:3rem;
}
.features-text{
    flex:1;
}
.features-img{
    flex:1;
    position: relative;
}
.features-img img{
    width:100%;
}
.features-title{
    font-size:2.4rem;
    border-left:5px solid #FF900E;
    padding-left:15px;
    margin-bottom:15px;
}
.feature-description{
    color:#727272;
    font-size:1rem;
    line-height:1.5rem;
    margin-bottom:1.5rem;
    text-align:justify;
}
.features-item{
    background-color:#ffffff;
    border-radius:5px;
    padding:20px;
}
.features-item-title{
    font-size:19px;
    margin-bottom:10px;
}
.features-item-description{
    color:#727272;
    font-size:15px;
    line-height:1.5rem;
}
.featutes-img-text-box{

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color:#FF900E;
    padding:30px;
    /* max-width:200px;
    height:120px; */
    position:absolute;
    bottom:0;
    left:0;
    margin-left:-60px;
    margin-bottom:-20px;
    border-radius:5px;
}
.featutes-img-text-box h3{
    font-size:2rem;
    color:#ffffff;
}
.featutes-img-text-box p{
    font-size:1rem;
    color:#ffffff;
    font-weight:400;
    margin-top:5px;
}




/*=============================
     Facts Section Design 
===============================*/

#facts{
    margin-bottom:5rem;
}
.facts-title{
    font-size:2.4rem;
    margin-bottom:15px;
}
.facts-description{
    color:#727272;
    font-size:15px;
    line-height:1.5rem;
}
.facts-item{
    margin-top:50px;
    display:grid;
    grid-template-columns:repeat(4, 200px);
    justify-content:space-around;
    align-items:center;
}
.facts-item-box{
    border:1px solid #FF900E;
    border-radius:5px;
    height:180px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.facts-item-box h5{
    font-size:1.9rem;
    color:#424242;
    margin:5px 0px;
}
.facts-item-box p{
    font-size:1rem;
    color:#727272;
}




/*=============================
     Sponser Section Design 
===============================*/

#sponser{
    margin-bottom:5rem;
}
.sponser-title{
    font-size:2.4rem;
    margin-bottom:15px;
    text-align: center;
}
.sponser-description{
    color:#727272;
    font-size:15px;
    line-height:1.5rem;
    text-align: center;
}
.sponser-item{
    margin-top:40px;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap:20px;
}
.sponser-item img{
    width:auto;
    filter: grayscale(100%);
}




.footer-content{
    height: 5rem;
    background-color:#FFF4E7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content p{
    color:#727272;
    font-size:15px;
    line-height:1.5rem;
    text-align: center;
}







/*======================
    Media Query
========================*/

/* Smaller Device */
@media screen and (max-width:576px){
    
    nav{
        flex-direction:column;
        gap:20px;
    }
    .banner-text{
        margin:2rem auto;
    }
    .banner-title{
    font-size:2rem;
    }


    #about{
        margin:3rem 0rem;
    }
    .about-content{
        flex-direction:column-reverse;
    }
    .about-content-text, .about-description{
        text-align: center;
    }
    .about-title{
        font-size:2rem;
        text-align:center;
    }
    .about-content-img{
        grid-template-columns:repeat(1, 1fr);
    }

    
    .features-content{
        flex-direction: column;
    }
    .featutes-img-text-box{
        display:none;
    }


    .facts-item{
        grid-template-columns:repeat(2, 1fr);
        gap:20px;
    }

    .sponser-item{
        grid-template-columns:repeat(2, 1fr);
        gap:30px;
    }

}






/* Medium Device */
@media screen and (min-width:577px) and (max-width:992px){
    .about-content{
        flex-direction:column-reverse;
    }
    .about-content-text, .about-description{
        text-align: center;
    }

    .features-content{
        flex-direction: column;
    }
    .featutes-img-text-box{
    margin-left:-20px;
    margin-bottom:-40px;
    border-radius:5px;
    }

    .facts-item{
        grid-template-columns:repeat(2, 1fr);
        gap:20px;
    }

    .sponser-item{
        grid-template-columns:repeat(2, 1fr);
        gap:30px;
    }
}